# Hello World :-

In [1]:
print('hello world')

hello world

# Variables and Type :-

In [2]:
int = 7
print(int)

7

In [3]:
float = 2.5
print(float)

2.5

In [4]:
string = 'hello,keyuri'
print(string)

hello,keyuri

In [5]:
one = 1
two = 2 
three = one+two
print(three)

3

In [6]:
a,b = 3,4
print(a,b)

3 4

# Lists :-

In [7]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) 
print(mylist[1]) 
print(mylist[2]) 

for x in mylist:
    print(x)

1
2
3
1
2
3

In [10]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]
second_name = None
print(numbers)
print(strings)
print(names)
print("The second name on the names list is %s" % second_name)

[]
[]
['John', 'Eric', 'Jessica']
The second name on the names list is None

# Basic Operators

In [11]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [12]:
remainder = 11 % 3
print(remainder)

2

In [13]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

49
8

In [14]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [15]:
lotsofhellos = "hello" * 10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

In [16]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [17]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
x = object()
y = object()

x_list = [x]
y_list = [y]
big_list = []

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 1 objects
y_list contains 1 objects
big_list contains 0 objects

# String Formatting

In [19]:
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [20]:
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

# Basic String Operations

In [22]:
astring = "Hello world!"
print("single quotes are ' '")

print(len(astring))

single quotes are ' '
12

In [23]:
astring = "Hello world!"
print(astring.index("o"))

4

In [24]:
astring = "Hello world!"
print(astring[3:7])

lo w

In [25]:
astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

lo w
lo w

In [26]:
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [27]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [28]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

# Conditions

In [31]:
x = 2
print(x == 2) 
print(x == 3) 
print(x < 3)

True
False
True

In [32]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

In [33]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

In [35]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

In [36]:
x = [1,2,3]
y = [1,2,3]
print(x == y) 
print(x is y)

True
False

In [37]:
print(not False) 
print((not False) == (False))

True
False

# Loops

In [38]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [ ]:
for x in range(5):
    print(x)

# Prints out 3,4,5
for x in range(3, 6):
    print(x)

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)